<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head">
    <meta charset="UTF-8">
    <title>Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
</head>
<body>
<div th:replace="base-layout :: header"></div>



    <h2 style="color: tomato; text-align: center" th:align="center">Welcome to Cocktail Bar!</h2>





    <form th:action="@{/search/{drinkName}(drinkName=${drinkName})}">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit"
                           name="register-submit"
                           id="register-submit"
                           class="form-control btn btn-info"
                           value="Start search drink">
                </div>
            </div>
        </div>
    </form>

    <div>
        <p></p>
        <div class="container">
            <div class="row" >
                <div class="col-md-6 col-lg-4 col-xl-3" th:each="cocktail : ${cocktails}">
                    <div class="card text-center card-product" >
                        <div class="card" style="width: 18rem;">
                            <a th:href="@{/drink/{id}(id=${cocktail.idDrink})}">
                                <div class="card-img" th:if="*{cocktail.strDrinkThumb==null}"><img width="200" height="220" src="/images/def_cocktail.png" alt="img"></div>
                            <div th:unless="*{cocktail.strDrinkThumb==null}"><img width="200" height="220" th:src="*{cocktail.strDrinkThumb}"></div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${cocktail.strDrink}">name</h5>
<!--                                <p class="card-text" th:text="${cocktail.instructions}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                                <a th:href="@{/drink/{id}(id=${cocktail.idDrink})}" class="btn btn-primary">Details</a>-->
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{/clear}">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit"
                           name="clear"
                        id="clear"
                        class="form-control btn btn-info"
                        value="Clear">
                </div>
            </div>
        </div>
    </form>

    <form th:action="@{/search/random}">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit"
                       name="random"
                       id="random"
                       class="form-control btn btn-info"
                       value="Random drink">
                </div>
            </div>
        </div>
    </form>

</body>
</html>