<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
</head>
<body>
    <button><a th:href="@{/search/{drinkName}(drinkName=${drinkName})}">search</a></button>

    <div>
        <p>Cocktail list</p>
        <div class="container">
            <div class="row" >
                <div class="col-md-6 col-lg-4 col-xl-3" th:each="cocktail : ${cocktails}">
                    <div class="card text-center card-product" >
                        <div class="card" style="width: 18rem;">
                                <div class="card-img" th:if="*{cocktail.strDrinkThumb==null}"><img width="200" height="220" src="/images/def_cocktail.png" alt="img"></div>
                            <div th:unless="*{cocktail.strDrinkThumb==null}"><img width="200" height="220" th:src="*{cocktail.strDrinkThumb}"></div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${cocktail.strDrink}">name</h5>
                                <p class="card-text" th:text="${cocktail.instructions}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>